@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
input[type="button"] {
  outline: none; }

input[type="button"]::-moz-focus-inner {
  border: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Opens Sans',sans-serif; }

body {
  background-color: #f8f9fa; }

.header-title {
  text-align: center;
  font-size: 40px;
  margin: 30px 0px; }

h1 {
  color: #bdc3c7; }

.budget__value {
  background-color: white;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin: 13px auto;
  font-size: 30px;
  color: green; }

.parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  background-color: #f8f9fa; }
  .parent-container .left-side {
    padding: 5px;
    width: 400px; }
    .parent-container .left-side .add__menu {
      background-color: white; }
  .parent-container .right-side {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 100%;
    border: 1px solid #FFDAD9; }
  .parent-container .center {
    background-color: white;
    margin: 0px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1); }
    .parent-container .center h1 {
      text-align: center;
      color: black;
      margin-top: 5px; }
    .parent-container .center .legend {
      width: 100%;
      background-color: #f8f9fa; }
    .parent-container .center .legend-item {
      padding: 10px; }
      .parent-container .center .legend-item .legend-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 10px; }
      .parent-container .center .legend-item p {
        display: inline-block; }

.add__menu {
  border: 1px solid #FFDAD9;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px; }
  .add__menu div {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.add-name, .add-value {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s; }

.submit-btn {
  font-size: 35px;
  background: none;
  border: none;
  color: tomato;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px; }

.icon-img {
  width: 23px;
  height: 23px; }

.budgetTitle {
  font-size: 24px;
  font-weight: bold; }

.expenses__title, .income__title {
  color: black;
  font-size: 30px;
  margin-bottom: 5px; }

.income {
  margin-bottom: 30px; }

/* item */
.item {
  color: black;
  border: 1px solid item;
  border-radius: 5px;
  margin: 2px auto;
  display: block; }
  .item .right {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.item .item__value {
  color: transform 3s;
  padding-top: 10px; }

.item {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7; }

.item:first-child {
  border-top: 1px solid #e7e7e7; }

.item:nth-child(even) {
  background-color: #f7f7f7; }

.item__description {
  float: left; }

.item__value {
  float: left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.item__percentage {
  float: left;
  margin-left: 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  background-color: #FFDAD9;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center; }

.income .item__value,
.income .item__delete--btn {
  color: #28B9B5; }

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: #FF5049; }

.item__delete {
  float: left; }

.item__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none; }

.item__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none; }

.submit-btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px); }

.submit-btn:focus {
  outline: none; }

.item__delete--btn:focus {
  outline: none; }

.item__delete--btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px); }

.item:hover .item__delete--btn {
  display: block; }

.item:hover .item__value {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px); }

.item:hover .item__percentage {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px); }

/* media query */
@media screen and (max-width: 1050px) {
  .add__menu {
    margin-bottom: 20px; }
  .income__list {
    text-align: center; }
  .parent-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .left-side {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 500px; }
  .right-side {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } }
