$slate: blue;
$item: grey;
$primary: #bb86fc;
$background: white;
$text-color: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid white;
}
body {
  background-color:$background;
}
.header-title {
  text-align: center;
  font-size: 32px;
  margin: 30px 0px;

}

h1 {
  color: $primary;
}

.parent-container {
  display:flex;
  width: 1000px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: $background;
  .left {
    background-color: $item;
    padding: 5px;
    width: 400px;
    // order: 2
  }
  .right{
    text-align: center;
    background-color: $background;
    padding: 5px;
    width: 100%;
    // order: 3
  }
  .center {
    // order: 1
  }
}
.add__menu{
  border: 1px solid pink;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  div {
    margin: 5px;
    display: flex;
  }

}

.add-name,.add-value{
  border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}
.submit-btn {
    font-size: 35px;
    background: none;
    border: none;
    color: tomato;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.expenses__title, .income__title{
  color: $text-color;
  font-size: 30px;
  margin-bottom: 5px;
}


/* item */

.item {
  background-color: #3c4042;
  color: $text-color;
}

.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }






/* media query */
@media screen and (max-width:1050px) {
body {
  // background-color: blue;
}
.parent-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.center {
  order: 1;
}
.left {
  order: 2;
  width: 500px;
}
.right {
  order: 3;
}

}
